NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_API_BASE=http://localhost:3333
NEXT_PUBLIC_BACKEND_PUBLIC_API_BASE_URL=http://localhost:3333
NEXT_PUBLIC_ENABLE_MSW=false
REVALIDATE_SECRET=change-me

OPENAI_API_KEY=""